name: build-test
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  format:
    name: format
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: run golangci-lint
        uses: docker://golangci/golangci-lint:v1.31.0
        with:
          args: make lint

      - name: run format check
        run: make check

  sdk-tests:
    name: sdk tests
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: set up go 1.15
        uses: actions/setup-go@v1
        with:
          go-version: 1.15

      - name: run tests
        run: make test

  build-examples:
    name: build examples
    runs-on: ubuntu-latest
    container:
      image: tinygo/tinygo:0.17.0
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: cache built examples
        uses: actions/cache@v2
        id: cache-built-examples
        with:
          path: examples
          key: ${{ hashFiles('examples/**', 'proxywasm/**') }}

      - name: build examples
        if: steps.cache-built-examples.outputs.cache-hit != 'true'
        run: find ./examples -type f -name "main.go" | xargs -Ip tinygo build -o p.wasm -scheduler=none -target=wasi p

  e2e-tests-envoy:
    strategy:
      matrix:
        envoy-tag: [ 1.17.0, 1.17.1 ]
    name: e2e tests on Envoy
    needs: build-examples
    runs-on: ubuntu-latest
    container:
      image: envoyproxy/envoy:v${{ matrix.envoy-tag }}
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: cache built examples
        uses: actions/cache@v2
        with:
          path: examples
          key: ${{ hashFiles('examples/**', 'proxywasm/**') }}

      - name: set up go 1.15
        uses: actions/setup-go@v1
        with:
          go-version: 1.15

      - name: run e2e test
        run: CGO_ENABLED=0 go test ./e2e/... -v

  e2e-tests-istio:
    strategy:
      matrix:
        istio-version: [ 1.8.1, 1.8.2, 1.8.3, 1.8.4, 1.9.0, 1.9.1 ]
    name: e2e tests on Istio
    needs: build-examples
    runs-on: ubuntu-latest
    container:
      image: istio/proxyv2:${{ matrix.istio-version }}
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: set up go 1.15
        uses: actions/setup-go@v1
        with:
          go-version: 1.15

      - name: fetch built examples
        uses: actions/cache@v2
        with:
          path: examples
          key: ${{ hashFiles('examples/**', 'proxywasm/**') }}

      - name: run e2e test
        run: CGO_ENABLED=0 go test ./e2e/... -v
