name: Test
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

env:
  TINYGO_VERSION: 0.25.0

jobs:
  style:
    name: Code style check
    runs-on: ubuntu-latest
    steps:
      - name: install Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.18'

      - name: checkout
        uses: actions/checkout@v3

      - name: run lint
        run: make lint

      - name: run format check
        run: make check

  sdk-tests:
    name: SDK tests
    runs-on: ubuntu-latest
    steps:
      - name: install Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.18'

      - name: checkout
        uses: actions/checkout@v3

      - name: run tests
        run: make test

  examples:
    name: Examples (${{ matrix.envoy-image }})
    strategy:
      fail-fast: false
      matrix:
        envoy-image: [
          "envoyproxy/envoy-dev:latest",
          "envoyproxy/envoy:v1.19-latest",
          "envoyproxy/envoy:v1.20-latest",
          "envoyproxy/envoy:v1.21-latest",
          "envoyproxy/envoy:v1.22-latest",
          "envoyproxy/envoy:v1.23-latest",
          "istio/proxyv2:1.11.7",
          "istio/proxyv2:1.12.4",
          "istio/proxyv2:1.13.1",
          "istio/proxyv2:1.14.0",
        ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cache built examples
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
            ~/go/bin
          key: examples-${{ hashFiles('examples/**', 'proxywasm/**', 'Makefile') }}-v${{ env.TINYGO_VERSION }}

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.18'

      - name: Install TinyGo
        run: |
          gh release download v${TINYGO_VERSION} -p '*.linux-amd64.tar.gz' -D ~ -R github.com/tinygo-org/tinygo
          tar -xf ~/tinygo${TINYGO_VERSION}.linux-amd64.tar.gz  -C $HOME
          echo "$HOME/tinygo/bin" >> $GITHUB_PATH
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build examples
        run: make build.examples

      - name: Test examples
        run: make test.examples

      - name: Install Envoy
        run:
          export ENVOY_BIN_DIR=$HOME/envoy/bin
          mkdir -p $ENVOY_BIN_DIR
          docker run -v $ENVOY_BIN_DIR:/tmp/proxy-wasm-go-sdk -w /tmp/proxy-wasm-go-sdk \
            --entrypoint /bin/cp ${{ matrix.image }} /usr/local/bin/envoy .
          echo $ENVOY_BIN_DIR >> $GITHUB_PATH

      - name: Run e2e test
        run: make test.e2e
