name: build-test
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  sdk-tests:
    name: sdk tests
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: run golangci-lint
        uses: docker://golangci/golangci-lint:v1.31.0
        with:
          args: make lint

      - name: set up go 1.15
        uses: actions/setup-go@v1
        with:
          go-version: 1.15

      - name: run tests
        run: make test

  build-examples:
    name: build examples
    runs-on: ubuntu-latest
    container:
      image: tinygo/tinygo:latest
    steps:
      - name: cache built examples
        uses: actions/cache@v2
        id: cache-built-examples
        with:
          path: examples
          key: ${{ hashFiles('examples/**.go', 'proxywasm/**') }}

      - name: checkout
        if: steps.cache-built-examples.outputs.cache-hit != 'true'
        uses: actions/checkout@v2

      - name: build examples
        if: steps.cache-built-examples.outputs.cache-hit != 'true'
        run: find ./examples -type f -name "main.go" | xargs -Ip tinygo build -o p.wasm -scheduler=none -target=wasi -wasm-abi=generic p

  e2e-tests-envoy:
    strategy:
      matrix:
        envoy-image: [ "envoyproxy/envoy-dev:6ca4644073da6d9930ba45d90d57d8c9b2062962" ] # TODO: add release tagged version
    name: e2e tests on examples
    needs: build-examples
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.envoy-image }}
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: cache built examples
        uses: actions/cache@v2
        with:
          path: examples
          key: ${{ hashFiles('examples/**') }}

      - name: set up go 1.15
        uses: actions/setup-go@v1
        with:
          go-version: 1.15

      - name: run e2e test
        run: CGO_ENABLED=0 go test ./e2e/... -v

  e2e-tests-istio:
    strategy:
      matrix:
        istio-version: [ 1.7.0, 1.7.1, 1.7.2, 1.7.3, 1.8.0 ]
    name: e2e tests on examples
    needs: build-examples
    runs-on: ubuntu-latest
    container:
      image: istio/proxyv2:${{ matrix.istio-version }}
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: set up go 1.15
        uses: actions/setup-go@v1
        with:
          go-version: 1.15

      - name: fetch built examples
        uses: actions/cache@v2
        with:
          path: examples
          key: ${{ hashFiles('examples/**') }}

      - name: run e2e test
        run: CGO_ENABLED=0 go test ./e2e/... -v
