name: build-test
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  sdk-tests:
    name: sdk tests
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: run golangci-lint
        uses: docker://golangci/golangci-lint:v1.31.0
        with:
          args: make lint

      - name: set up go 1.15
        uses: actions/setup-go@v1
        with:
          go-version: 1.15

      - name: run tests
        run: make test

  build-examples:
    name: build examples
    runs-on: ubuntu-latest
    container:
      image: tinygo/tinygo:0.16.0
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: build examples
        run: make build.examples

      - name: upload wasm-binaries
        uses: actions/upload-artifact@v2
        with:
          name: wasm-binaries
          path: examples

  e2e-tests-envoy:
    strategy:
      matrix:
        envoy-image: [ "envoyproxy/envoy-dev:2a252964ecd5e790aaac3a4d08d43bd3cad4b6c8" ] # TODO: add release tagged version
    name: e2e tests on examples
    needs: build-examples
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.envoy-image }}
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: download wasm-binaries
        uses: actions/download-artifact@v2
        with:
          name: wasm-binaries
          path: examples

      - name: set up go 1.15
        uses: actions/setup-go@v1
        with:
          go-version: 1.15

      - name: run e2e test
        run: CGO_ENABLED=0 go test ./e2e/... -v

  e2e-tests-istio:
    strategy:
      matrix:
        istio-version: [ 1.7.0, 1.7.1, 1.7.2, 1.7.3 ]
    name: e2e tests on examples
    needs: build-examples
    runs-on: ubuntu-latest
    container:
      image: getenvoy/proxy-wasm-go-sdk-ci:istio-${{ matrix.istio-version }}
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: download wasm-binaries
        uses: actions/download-artifact@v2
        with:
          name: wasm-binaries
          path: examples

      - name: run e2e test
        run: go test ./e2e/... -v
